body{
    margin: 0px;
    font-family: monospace;
}
.header {
    background-color: black;; width: 100%;
    border-bottom: 3px rgb(18, 117, 230) solid;
}
h1{
    margin-top: 0px;
    color: rgb(37, 91, 240);
}
.header .container {
    width: 70%;
    display: flex;
}
.navbar{
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: rgb(216, 136, 17);
}